# Default NAMESPACE created by R
# Remove the previous line if you edit this file

# Export all names
exportPattern(".")

## S3 register
S3method(as.polygons, polygonGrid)
S3method(summary, polygons)

# Import all packages listed as Imports or Depends
import(
  methods,
  Matrix,
  lattice
)

##
useDynLib(gridConstruct)
